#FORM_PROJETOS {
  h2 {
    font-weight: 500;
    color: #344191;
    margin-top: 50px;
    font-size: 1.75rem;
    text-align: center;
  }
  p {
    text-align: center;
  }
}
#form-projetoDoacao {
  h3 {
    margin-top: 50px;
    margin-bottom: 15px;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
  }
  #amount {
    #amountCustom {
      display: none;
      max-width: 134px;
      height: 32px;
      border-radius: 6px;
      border: 1px solid #80acdc;
      padding: 0 15px;
      line-height: 1.6;
      @media (max-width: 992px) {
        & {
          width: 100%;
          max-width: 100%;
        }
      }
    }
    input[type="radio"] {
      visibility: hidden;
      width: 0px;
      height: 0px;
      &:checked + label {
        background: #344191;
        transition: all 0.2s ease-in-out;
      }
    }
    .customRS {
      display: flex;
      @media (max-width: 992px) {
        & span {
          display: block;
          width: 100%;
          margin-top: 15px;
        }
      }
    }
    #customRS:checked + span #amountCustom {
      display: inline-block;
    }
    #customRS:checked + span label {
      display: none;
    }
    label {
      cursor: pointer;
      background: #80acdc;
      color: #fff;
      border: none;
      border-radius: 20px;
      padding: 0.5em 1.2em;
      line-height: 1;
      margin: 0;
      @media (max-width: 992px) {
        & {
          display: block;
          text-align: center;
        }
      }
    }
  }
  #colection_projetos {
    .proj_grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 15px;
      div {
        display: flex;
      }
      label {
        cursor: pointer;
        background: #80acdc;
        color: #fff;
        border: none;
        width: 100%;
        border-radius: 20px;
        padding: 0.5em 1.2em;
        line-height: 1;
        margin: 0 auto;
        text-align: center;
        @media (max-width: 992px) {
          & {
            line-height: 1.3;
          }
        }
      }
      input[type="radio"] {
        visibility: hidden;
        width: 0px;
        height: 0px;
        &:checked + label {
          background: #344191;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
  #customer {
    input[type="text"] {
      width: 100%;
      margin: 6px 0px;
      border-radius: 6px;
      border: 1px solid #80acdc;
      padding: 0 15px;
      line-height: 1.6;
    }
    label {
      margin: 0;
    }
    input[type="radio"]:checked + label {
      font-weight: 500;
      transition: all 0.2s ease-in-out;
    }
  }
  #politicas {
    border-radius: 5px;
    background: #eae9ec;
    padding: 15px;
    label {
      cursor: pointer;
      p {
        font-size: 10px;
        text-align: left;
      }
      h5 {
        font-size: 13px;
        text-align: left;
      }
      a {
        font-weight: 600;
        &:hover {
          color: #000;
        }
      }
    }
  }
  #submit-button {
    border: none;
    background: none;
    color: #80acdc;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 0px;
    &:hover {
      color: #344191;
      svg circle {
        fill: #1596ff !important;
      }
    }
  }
}
