:root {
  --Wcard: 100%;
  --Hcard: 200px;
}
#bg-ajude {
  position: relative;
  img {
    object-fit: cover;
    max-width: 100%;
  }
}
#breadcrumbs {
  a:hover {
    text-decoration: none;
    color: #000;
    // font-weight: 400;
  }
  .breadcrumb_last {
    // font-weight: 600;
    color: #1596ff;
  }
}
#breadcumb {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  h1 {
    font-weight: 400;
  }
  a:hover {
    text-decoration: none;
    color: #000;
    // font-weight: 400;
  }
}
#ajude {
  h2 {
    font-size: 1.3em;
    color: #344191;
    text-align: center;
    font-weight: 400;
  }
}
#incentivada {
  background: #f4f4f4;
}
#espontanea {
  background: #e7e9f1;
}

#incentivada {
  h2,
  h3 {
    color: #2065e3;
  }
}
#espontanea {
  h2,
  h3 {
    color: #5a50d2;
  }
}
#incentivada,
#espontanea {
  small {
    font-size: 70%;
    display: block;
  }
  h2 {
    // color: #2065e3;
    font-weight: 600;
    font-size: 27px;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  p,
  li {
    text-align: center;
  }
  .projetos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(266px, 266px));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    @media (max-width: 768px) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .card {
      border-radius: 10px 10px 0 0;
      width: var(--Wcard);
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      img {
        width: var(--Wcard);
        max-width: 100%;
        height: 120px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 10px 0 0;
      }
      svg {
        top: -10px;
        position: relative;
      }
      &:hover {
        svg circle {
          fill: #1596ff !important;
        }
      }
      h3 {
        // color: #2065e3;
        font-weight: 300;
        font-size: 16px;
        text-align: center;
        padding: 0 10px 8px;
      }
    }
  }
  li {
    line-height: 1.5;
    padding: 8px 0;
    a {
      font-weight: bold;
      &:hover {
        color: #000;
      }
    }
  }
}
#projetosConcluidos {
  background: #2065e3;
  h2 {
    color: #fff;
    font-weight: 600;
    font-size: 27px;
    text-align: center;
    margin-bottom: 30px;
  }
  h3 {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
  }
  p {
    color: #fff;
    margin-bottom: 30px;
  }
  button {
    border: none;
    background: none;
    color: #fff;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 0px;
  }
  @media (max-width: 992px) {
    & h3 {
      font-size: 16px;
    }
    & p,
    & button {
      font-size: 13px;
    }
  }
}
