$colors: (
  "blue": #1596ff,

  "blue-dark": #283c5a,
  "blue-dark-2": #071e41,

  "blue-dark-3": #344191,
  "blue-dark-4": #233885,
  "blue-dark-5": #213655,

  "blue-light": #80acdc,
  "blue-light-2": #7193d0,
  "blue-light-3": #c8d3e9,
  "blue-light-4": #2ff,
);

body {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 300;
}
body > header {
  position: relative;
}
.right-0 {
  right: 0;
}
.top-0 {
  top: 0;
}
.font-12 {
  font-size: 12px !important;
  line-height: 16px;
}
@each $colorName, $colorHex in $colors {
  .text-#{$colorName} {
    color: #{$colorHex} !important;
  }

  .bg-#{$colorName} {
    background-color: #{$colorHex} !important;
  }
}

.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.8);
}

.bg-white-opacity-header {
  background-color: rgba(255, 255, 255, 0.7);
}

.text-white-r * {
  color: white !important;
}

.text-grey-r * {
  color: map-get($colors, "grey");
}

@media (min-width: 992px) {
  .bg-grey-light-lg-up {
    background-color: map-get($colors, "grey-light");
  }
}

@media (max-width: 992px) {
  .bg-grey-light-lg-down {
    background-color: map-get($colors, "grey-light");
  }

  .bg-grey-light-3-lg-down {
    background-color: map-get($colors, "grey-light-3");
  }
}
.nav-icon {
  display: block;

  cursor: pointer;

  margin: 0.7em;
  width: 30px;
  max-width: 100%;

  &:after,
  &:before,
  & div {
    background-color: #fff;
    border-radius: 3px;
    content: "";
    display: block;
    height: 5px;
    margin: 5px 0;
    transition: all 0.2s ease-in-out;
  }
  &.active {
    &:before {
      transform: translateY(10px) rotate(135deg);
    }
    &:after {
      transform: translateY(-10px) rotate(-135deg);
    }
    & div {
      transform: scale(0);
    }
  }
}

.flexnav {
  li {
    position: relative;

    @media (min-width: 992px) {
      padding-top: 0.5rem !important;
      padding-bottom: 1.5rem !important;
      &.menu-superior {
        padding-bottom: 0px !important;
      }
    }

    text-align: center;

    & > a::after {
      display: block;
      content: attr(data-bold);
      font-weight: 600;
      height: 0;
      color: transparent;
      overflow: hidden;
      visibility: hidden;
      margin-bottom: -1px;
    }

    ul {
      @media (min-width: 992px) {
        background-color: map-get($colors, "blue-dark-5");
        display: none;
        position: absolute;
        left: -2em;
        top: 55px;

        li {
          padding: 0.25rem 0 !important;
        }
      }
      padding: 0 10px;
      width: 160px;
      z-index: 100;

      margin-left: auto;
      margin-right: auto;

      li {
        text-align: center;
      }
    }

    &.item-with-ul:hover ul {
      display: block !important;
    }
  }

  a {
    display: inline-block;
    position: relative;
    color: white;

    white-space: nowrap;

    font-size: 14px;
  }

  a:hover,
  & > li > a:hover,
  & > li.active > a {
    color: map-get($colors, "blue-light");
  }

  @media (max-width: 992px) {
    background: map-get($colors, "blue-dark");

    &,
    &.flexnav-show {
      -webkit-transition: transform 0.5s ease-in-out;
      -moz-transition: transform 0.5s ease-in-out;
      -ms-transition: transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out;
      transform: translateX(0);

      position: fixed;
      top: 100px;
      left: 15px;

      width: 100%;

      height: auto;
      overflow: auto;
      z-index: 100;
      padding: 20px;
      // background-color: map-get($colors,"green");

      flex-direction: column;

      &:not(.flexnav-show) {
        transform: translateX(120%);
      }
    }

    &.flexnav-show {
      li {
        width: 100%;
      }

      & > li {
        margin-bottom: 1.5rem;
      }
    }

    & > li {
      & > a {
        margin: 0;

        font-weight: 600;
      }

      li a {
        font-weight: 200;
      }
    }
  }
}

.menu-superior a {
  color: #80acdc;
  svg {
    width: 22px;
    margin-top: -3px;
  }
  &:hover {
    color: #1596ff;
    svg path {
      fill: #1596ff !important;
    }
  }
}

.menu-superior .active a {
  color: #1596ff;
  svg path {
    fill: #1596ff !important;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 1;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none !important;
}
/*Spinner Styles*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 5% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
