html,
body {
  height: 100%;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
}
body > main {
  flex: 1 0 auto;
}
body > footer {
  flex-shrink: 0;
}

ol,
ul,
li,
address {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 300;
}

a {
  color: inherit;
}
button {
  border: none;
  background: none;
}

main a:hover:not(.no-decoration) {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  transition: 300ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:hover,
input[type="radio"]:checked + label,
input[type=":checkbox"] + label {
  transition: 300ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
svg {
  display: inline-block;
}

strong {
  font-weight: 700;
}
span {
  line-height: 1;
  margin: 0;
  padding: 0;
}
