.single-doacoes {
  a:hover {
    text-decoration: none;
    color: #000;
  }
}
#projeto {
  background: #f4f4f4;
  h1 {
    font-weight: 400;
    font-size: 2rem;
  }
  p {
    text-align: center;
  }
  .img-featured {
    img {
      max-width: 100%;
      object-fit: contain;
      @media (max-width: 992px) {
        & {
          height: max-content;
        }
      }
    }
  }
  @media (max-width: 992px) {
    & {
      text-align: center;
    }
  }
  .more-info {
    text-decoration: none;
    border: none;
    border-radius: 15px;
    background: #80acdc;
    padding: 0.2em 1.3em;
    margin: 0 auto;
    width: max-content;
    display: block;
    button {
      color: #fff;
    }
    &:hover {
      background: #344191;
      transition: all 0.2s ease-in-out;
    }
  }
}
